In [1]:
# OMW Pseudo code

In [2]:
# Calling the existing database and creating a connection to SQL
#cnn= #pathtodatabase.connect('jupyter_sql.db')

#df.to_sql(osp_prices,cnn) 

# Load the SQL module to iPython

# Running a SQL module to jupyter with a line magic

# %load_ext sql

# We use the line magic here but this time to point the jupyter sql library to the database we want to use:

# %sql sqlite:///here_name_of_the_db.db

# Now we are ready to run our queries

# We will use the notation of two percent signs to create a cell magic followed by sql then run our queries

# Running examples:

# %%sql

# SELECT *
# FROM AttendDet

# Run and we get all the records 
# Count the number of records created:

# SELECT count(*)
# FROM AttendDet

# %%sql
# SELECT sum(JobMaterials) as "sum_jobmaterials"
# FROM AttendDet

# As expected, this code should be able to run SQL from jupyter

In [3]:
# Read SQL method is a good wrapper for reading a table

# pd.read_sql(table)

# Import all dependencies

# CREATE ENGINE, is this step done? -- double check

# query = ""
#  SELECT * 
#  FROM  employees e
#  JOIN salaries s
#  ON e.emp_no = s.emp_no
#  WHERE e.hire_date > '1999-01-01'
# ""
# pd.read_sql(query, engine)